#body {
  background-color: #CDD2D4;
}

#header-main {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 58px;
  margin-top: 12px;
  color: black;
}

.modal-title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
  color: black;
}

.header-layers {
  font-family: 'Cabin Sketch', cursive;
  font-size: 36px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.enter-address {
  display: flex;
}

.enter-address input {
  margin-right: .5em;
}

#top-section {
  height: 80px;
  outline-style: solid;
  outline-width: 0.5px;
  outline-color: #F5F5F3;
  width: 100%;
}

#mapContainer {
  height: 800px;
  width: 100%;
  display: inline-block;
}

#sidebar {
  display: inline-block;
  padding: 29px;
  height: 800px;
  width: 100%;
  overflow: auto;
}

.glyphicon {
  float: right; 
}

#github {
  float: right; 
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 25px;
    color: black;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    border-radius: 25px;
}