#body {
  background-color: #CDD2D4;
}
.header-main {
  text-align: center;
/*  background-color: #CDD2D4;*/
/*  width: 550px;*/
}

.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.enter-address {
  display: flex;
}

.enter-address input {
  margin-right: .5em;
}

#top-section {
  height: 80px;
}

#mapContainer {
  height: 800px;
  width: 100%;
  display: inline-block;
  margin-left: 8px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #F5F5F3;
}

#sidebar {
  display: inline-block;
  padding: 15px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #F5F5F3;
  height: 800px;
  width: 100%;
  overflow: auto;
  margin-right: 8px;
}