#body {
  background: #f2fdff;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

#header-main {
  text-align: left;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
  margin-top: 20px;
  color: black;
}

.modal-title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
  color: black;
}

.header-layers {
  font-family: 'Cabin Sketch', cursive;
  font-size: 32px;
  color: black;
  margin-top: 18px;
  margin-bottom: 10px;
}

.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

#top-section {
  background: #f2fdff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #f2fdff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #f2fdff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90px;
  width: 100%; 
  padding-left: 33px;
  outline-color: #CDD2D4;
  outline-width: 0.5px;
  outline-style: solid;
}

#mapContainer {
  height: 500px;
  width: 100%;
  display: inline-block;
  outline-color: #CDD2D4;
  outline-width: 0.5px;
  outline-style: solid;
}

#sidebar {
  display: inline-block;
  padding-right: 33px;
  padding-left: 33px;
  padding-bottom: 33px;
  padding-top: 3px;
  height: 500px;
  width: 100%;
  overflow: auto;
  outline-color: #CDD2D4;
  outline-width: 0.5px;
  outline-style: solid;
  background: #f2fdff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff, #f2fdff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, #f2fdff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.glyphicon {
  float: right; 
}

#github {
  float: right; 
}

#loading {
  float: right; 
}